canvas{
    border:5px black ridge;
    border-radius:10px;
    box-shadow:5px 5px 10px black;
    margin-top:180px;
}
body{
    background-image:url('bg.gif');
    background-size: repeat;
}