.heading{
    font-weight:bolder;
    border-radius:10px;
    text-align:center;
    font-size:xx-large;
}
body{
    background-image: url('bg.gif');
    background-size: repeat;
    background-position-y:-1in ;
}
canvas{
    border:5px black ridge;
    box-shadow: 5px 5px 5px black;
}
.a{
    font-size:20px;
}